form{
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#buttonContainer input{
    margin-right: 10px;
}
