.imageContainerDiv{
    text-align: center;
}
#Gym_Stock_Photo1{
    width: 500px;
    height: auto;
    border-radius: 10%;
}


#hoursOfOperationDiv,
#childcareHoursDiv,
#contactDiv{
    width: 30%;
    text-align: center;
}

.hoursAndContact{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

